h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chocolate;
}
table, th, td{
    border: 2px solid;
    font-size: x-large;
    width: 50%;
    border-collapse: collapse;
    color: blue;
    border-spacing: 20px;
}
th{
    text-align: left;
    background-color: aliceblue;
    color: red;
    font-family: Verdana, Geneva, Tahoma,;
}
td{
    text-align: center;
    vertical-align: bottom;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th, td{
    padding: 5px;
    border-bottom: 4px solid #4018cf;
}
tr:hover{
    background-color: aqua;
}
nav{
    font-size: x-large;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}